kind: Deployment
apiVersion: apps/v1
metadata:
  name: fix-acceptor-basic
  labels:
    app: fix-acceptor
    app.kubernetes.io/component: fix-acceptor-basic
    app.kubernetes.io/instance: fix-acceptor-basic
    app.kubernetes.io/name: fix-acceptor-basic
    app.kubernetes.io/version: 1.0.0-SNAPSHOT
    app.openshift.io/runtime: java
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: fix-acceptor-basic
  template:
    metadata:
      labels:
        deployment: fix-acceptor-basic
    spec:
      volumes:
        - name: application-config-acceptor-basic
          configMap:
            name: fix-acceptor-basic-config
            items:
              - key: application.properties
                path: application.properties
            defaultMode: 420
      containers:
        - name: fix-acceptor-basic
          image: fix-acceptor-basic:latest
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: JAVA_OPTS_APPEND
              value: '-Xms4096m -Xmx4096m'
            - name: GC_CONTAINER_OPTIONS
              value: '-XX:+UseG1GC'
          resources:
            limits:
              cpu: '12'
              memory: 10Gi
            requests:
              cpu: '12'
              memory: 8Gi
          volumeMounts:
            - name: application-config-acceptor-basic
              readOnly: true
              mountPath: /deployments/config
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
