kind: ConfigMap
apiVersion: v1
metadata:
  name: fix-iniciator-config
  managedFields:
    - manager: kubectl-create
      operation: Update
      apiVersion: v1
data:
  application.properties: |-
    quarkus.banner.enabled=false
    quarkus.test.continuous-testing=disabled

    #FIX Parameters
    fix.begin-string=FIXT.1.1
    fix.default-appl-ver-id=FIX.5.0SP2
    fix.file-store-path=/tmp/banzai/data
    fix.socket-connect-host=fix-acceptor
    fix.socket-connect-port=8199
    fix.target-comp-id=STUN
    fix.reconnect-interval=5
    fix.heart-bt-int=30
    fix.connection-type=initiator
